{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        {{ form.hidden_tag() }}
        <div class="media">
            <div class="media-body">
                <p>WARNING Because the Interpreter is still WIP, some Java language features are not supported. These include:
                    *foreach loops (will throw JavaSyntaxError)
                    *constructors (will be ignored)
                    *switch statements
                Please remove these features from the source code as they will result in incorrect behaviour</p>
            </div>
        </div>
        <form method='Post' action='' enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.comments.label() }}
                    {{ form.comments(class="form-control-file") }}
                    {% if form.comments.errors %}
                        {% for error in form.comments.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.types.label() }}
                    {{ form.types(class="form-control-file") }}
                    {% if form.types.errors %}
                        {% for error in form.types.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.remove_tags.label() }}
                    {{ form.remove_tags(class="form-control-file") }}
                    {% if form.remove_tags.errors %}
                        {% for error in form.remove_tags.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

                <legend class="border-bottom mb-4">.java Datei hochladen:</legend>
                <div class="form-group">
                    {{ form.java.label() }}
                    {{ form.java(class="form-control-file") }}
                    {% if form.java.errors %}
                        {% for error in form.java.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}