
body {
color: #ffffff;
margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
color: #ffffff;
}

.black-text {
    color: #000000;
}

.bg-steel {
background-color: #49484d;
}

.site-header .navbar-nav .nav-link {
color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.content-section {
background: #444444;
padding: 10px 20px;
border: 10px solid #444455;
border-style: groove;
border-radius: 30px 1px 30px 1px;
margin-bottom: 20px;
}

.article-title {
color: #ffffff;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
color: aliceblue;
}

.article-img {
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #ffffff
}

.article-metadata a:hover {
color: #ffffff;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

.label-filter {
    color: #291852;
}
